@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

html, body {
  font-family: 'Barlow Condensed', sans-serif;
  color: rgba(0,0,0,0.67);
  background: linear-gradient(#8f3d4b, #4a2f48, #2b1d42) no-repeat;
  height: 100vh;
  /* Flex styles for centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* --Newsletter container styles-- */
.news-subscribe {
  width: 98vw;
  min-width: 280px;
  max-width: 33%;
  margin: 15px auto;
  padding: 5vh 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.6);
  z-index: 1;
}
/* --pitch styles-- */
.news-pitch h3 {
  font-size: 30px;
  margin: 0;
}
.news-pitch p {
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: center;
  min-width: 200px;
  max-width: 50%;
  margin: 15px auto;
  padding: 5px 0;
}
/* --form styles-- */
.news-subscribe form {
  padding: 20px 0;
}
.news-subscribe input, button {
  height: 100%;
  padding: 15px;
  border: none;
}
.news-subscribe input {
  border-bottom: 2px solid rgba(0,0,0,0.2);
}
.news-subscribe button {
  background: rgba(46,204,113,0.7);
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
  border-bottom: 2px rgba(46,204,113,0.7);
}
.news-subscribe button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  text-shadow: 0 1px 3px 3px rgba(0,0,0,0.4);
}
.news-subscribe button:active {
  background: #2ecc71;
  border-bottom: #2ecc71;
}
